<footer>
    <div class="info">
        <div class="socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="copyright">
            &copy; WnderLust Private Limited
        </div> 
        <div class="terms">
            <a href="/privacy">PrivacyTerms</a>
        </div>
    </div>
</footer>