<nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary border-bottom">
    <div class="container-fluid">       
            <a class="navbar-brand" href="#">
              <img src="https://i.pinimg.com/736x/56/5c/2a/565c2a824c7c184e326c751a0fb7e73e.jpg" alt="Bootstrap" width="35" height="30">
            </a>         
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link active" href="/listings">All Listings</a>
          <a class="nav-link active" href="/listings/new">Airbnb your home</a>
        </div>
      </div>
    </div>
</nav>
